/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: URL("image/Default.png");

  font-family: "Montserrat Alternates", sans-serif;
  background-color: #fff0db; /* Light beige color */
  color: #4d3b25; /* Dark brown color */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #eed9c4; /* Dark brown background */
  color: #f5f1e4; /* Light beige text */
}

.brand h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #cb997e;
  font-family: "Playfair Display", serif;
}

.search-bar {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #fff0db;
  border-radius: 10px;
  padding: 5px 10px;
  left: 350px;
  padding-right: 50px;
}

.search-bar input {
  height: 40px;
  border: none;
  background-color: #fff0db;
  padding: 0 10px;
}

.search-bar img {
  height: 25px;
  margin-right: 10px;
}

.slogan {
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  font-weight: bold;
  width: 300px;
  color: black;
}

/* Menu */
.menu {
  
  display: flex;
  justify-content: space-around;
  /* padding: 15px 0; */
  background-color: #ad9177; /* Medium brown background */
  font-family: "Montserrat Alternates", sans-serif;
  /* align-items: center; */
}

.menu a {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  font-weight: bold;

  padding: 20px 10px;
  border-left: 1px solid white;
  text-align: center;
  width: 20%;
}

.menu a:hover {
  background-color: #7b5e3b;
  color: #f5f1e4;
  border-radius: 4px;
}
.main{
  background-image: URL("image/Default.png");

}
.main-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #d8b99c; */
  width: 70%;
  gap: 100px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.card {
  width: 20%;
  /* padding-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #d8b99c;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  height: 500px;
  width: 300px;
}
.card img {
  width: 200px;
  /* height: 100%; */
}
.packages-section {
  background-color: #d8b99c;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
}
.packages-section h2 {
  color: white;
}
.card h2,
h3 {
  color: white;
}
ol,
ul {
  margin-left: 20px;
  list-style-position: inside;
  color: white;
}

ol li,
ul li {
  margin-bottom: 15px;
  line-height: 1.6;
}
/* li {
  border: 1px solid black;
} */
.packages-section h2 {
  margin-bottom: 15px;
}
/* li {
  width: 450px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 20px;
} */
.btn {
  width: 250px;
  background-color: #4d3b25;
  padding: 10px;
  border-radius: 10px;
}
.btn:hover {
  background-color: #7b5e3b;
}
.card a {
  text-decoration: none;
  color: white;
}
/* Responsiveness */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    width: 100%;
  }

  .image-section img {
    max-width: 100%;
  }
}
